body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  background-image: url('https://cdn.glitch.global/dad2ba6e-3757-401a-b095-6ab6dc283bc1/_%20(50).jpeg?v=1734968826504');
    background-size: cover;
    background-position: center;
    color: #333;
}
}

header {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    color: black;
    
}

.header {
  min-height: 80vh;
  width: 100%;
  background-image: url('https://cdn.glitch.global/dad2ba6e-3757-401a-b095-6ab6dc283bc1/_%20(51).jpeg?v=1734968990142');
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0.8;
}

h1 {
  text-align: center;
}

/* style for the navigation bar */
nav {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-page {
  flex: 1;
  text-align: right;
}

.nav-page ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-page ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-page ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-page ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  margin-bottom: 1rem;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
  line-height: 23px;
}

/* slideshow */

.slideshow-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slides-wrapper {
  display: flex;
  width: 100%;
}

.slides-container {
  flex: 2;
  max-width: 800px;
  height: 400px;
  overflow: hidden;
  margin-left: 20px;
}

.slides {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.slides-content {
  flex: 1;
  margin-left: 35px;
  margin-top: 90px;
  max-width: 400px;
  text-align: center;
}

.slides-content h3 {
  font-size: 27px;
}

.slides-content h2 {
  margin-top: 1rem;
  font-size: 55px;
}

/* best sellers */

.bsellers {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.item-col {
  flex-basis: 32%;
  max-width: 1200px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.item-col img {
  width: 100%;
}

.overlay {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  color: #eee;
}

.overlay:hover {
  background: #eee;
}

hr {
  height: 2px;
  background: gray;
}

main {
    padding: 20px;
}

/* footer */

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #eee;
}

.icons .fa-brands {
  margin: 0 3px;
  cursor: pointer;
  padding: 3px 0;
}
